<div class="main">
    <h3>浏览器支持</h3>
    <div class="desc">
        <p>本网站主要使用angular语言，支持最近的浏览器，包括下列版本：</p>
        <img src="../../../../content/images/browserSpport.jpg" alt="" style="border-radius: 10px;">
    </div>
    <p>另外多加一个CSS3中兼容性写法 </p>
    <p>&#x3000;&#x3000;-webkit这个为浏览器的前缀代表浏览器的私有属性 </p>
    <p>&#x3000;&#x3000;-ms 这是IE浏览器的前缀 </p>
    <p>&#x3000;&#x3000;-moz 这代表了火狐浏览器的前缀 </p>
    <p>&#x3000;&#x3000;-o 这代表着欧朋浏览器 </p>
    <p>&#x3000;&#x3000;-webkit 这代表了谷歌浏览器和苹果浏览器 </p>

</div>
<style>
   p{
       font-size: 14px;
   }
</style>
