<div class="modal-header">
    <h4 class="modal-title" id="myUserLabel">达人详情</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<div class="modal-body">
    <div class="page" id="zhiTongChe_detail" *ngIf="daRen">
        <div class="content">
            <div class="card" style="margin: 0;border-bottom: none;">
                <div class="card-header">
                    <span class="avatar">{{daRen.approveInfoDTO.applicant.substring(0, 3)}}</span>
                    <p class="important">
                        <span class="applicant">{{daRen.approveInfoDTO.applicant}}</span>&#x3000;
                    </p>
                    <p class="status status0" *ngIf="daRen.approveInfoDTO.status == 1">等待<span
                        class="approvePersonnel">{{selectedApproveList}}</span>的审批</p>
                    <p class="status status1" *ngIf="daRen.approveInfoDTO.status == 2">通过<span
                        class="approvePersonnel">{{selectedApproveList}}</span>的审批</p>
                    <p class="status status2" *ngIf="daRen.approveInfoDTO.status == 3"><span
                        class="approvePersonnel">{{selectedApproveList}}</span>拒绝审批</p>
                    <p class="status status2" *ngIf="daRen.approveInfoDTO.status == 12">
                        <span class="approvePersonnel" style="color: #2d8ac7">已完结</span>
                    </p>
                </div>
                <img src="../../../../../content/images/business_end.png" alt="" class="statusImg"
                     *ngIf="daRen.approveInfoDTO.status == 12">
                <img src="../../../../../content/images/SUCCESS.png" alt="" class="statusImg"
                     *ngIf="daRen.approveInfoDTO.status == 2">
                <img src="../../../../../content/images/FAIL.png" alt="" class="statusImg"
                     *ngIf="daRen.approveInfoDTO.status == 3">
                <img src="../../../../../content/images/UNDO.png" alt="" class="statusImg"
                     *ngIf="daRen.approveInfoDTO.status == 6 || daRen.approveInfoDTO.status == 9 || daRen.approveInfoDTO.status == 11">
                <div class="card-content">
                    <p class="shop"><span>&#x3000;&#x3000;店铺</span><span>{{daRen.shopName}}</span></p>
                    <p class="brand"><span>&#x3000;&#x3000;品牌</span><span>{{daRen.brandName}}</span></p>
                    <p class="good"><span>&#x3000;&#x3000;商品</span><span [class.goodName]="daRen.goodName.length>20">{{daRen.goodName}}</span>
                    </p>
                    <p class="priceType"><span>传播类型</span><span *ngIf="daRen.spreadType  == 1">淘宝头条</span><span
                        *ngIf="daRen.spreadType  == 2">有好货</span><span *ngIf="daRen.spreadType  == 3">每日好店</span><span
                        *ngIf="daRen.spreadType  == 4">品质好物</span><span *ngIf="daRen.spreadType  == 5">家有萌娃</span><span
                        *ngIf="daRen.spreadType  == 6">淘宝头条-问答</span><span
                        *ngIf="daRen.spreadType  == 7">生活研究所</span><span *ngIf="daRen.spreadType  == 8">直播</span><span
                        *ngIf="daRen.spreadType  == 9">必买清单</span><span
                        *ngIf="daRen.spreadType  == 10">淘宝头条-评测</span><span *ngIf="daRen.spreadType  == 11">其他</span>
                    </p>
                    <p class="priceType"><span>费用类型</span><span *ngIf="daRen.priceType == 1">日费用</span><span
                        *ngIf="daRen.priceType == 2">月费用</span>
                        <span *ngIf="daRen.priceType == 3">总费用</span></p>
                    <p class="perPrice"><span>费用说明</span><span
                        *ngIf="daRen.priceType == 1">{{daRen.perPrice}}元/日</span>
                        <span *ngIf="daRen.priceType == 2">{{daRen.perPrice}}元/月</span><span
                            *ngIf="daRen.priceType == 3">{{daRen.perPrice}}元</span>
                    </p>
                    <p class="startDate"><span>开始时间</span><span>{{daRen.startDate}}</span></p>
                    <p class="endDate"><span>结束时间</span><span>{{daRen.endDate}}</span></p>
                    <p class="countPrice"><span>费用生成</span><span *ngIf="daRen.priceType == 1">共{{countDays(daRen.startDate,daRen.endDate)}}天、共{{companyPrice.toFixed(2)}}元</span>
                        <span *ngIf="daRen.priceType == 2">共{{countMonth(daRen.startDate,daRen.endDate)}}月、共{{companyPrice.toFixed(2)}}元</span>
                        <span *ngIf="daRen.priceType == 3">共{{daRen.perPrice}}元</span>
                    </p>
                    <div class="supportedByFactory" *ngIf="daRen.isSupportedByFactory == 1">
                        <p class="title">厂家支持</p>
                        <p class="perPriceOfSupport"><span>费用说明</span><span *ngIf="daRen.priceType == 1">{{daRen.perPriceOfSupport}}元/日</span>
                            <span *ngIf="daRen.priceType == 2">{{daRen.perPriceOfSupport}}元/月</span>
                            <span *ngIf="daRen.priceType == 3">{{daRen.perPriceOfSupport}}元</span>
                        </p>
                        <p class="countPrice"><span>费用生成</span><span *ngIf="daRen.priceType == 1">共{{countDays(daRen.startDate,daRen.endDate)}}天、共{{factoryPrice.toFixed(2)}}元</span><span
                            *ngIf="daRen.priceType == 2">共{{countMonth(daRen.startDate,daRen.endDate)}}月、共{{factoryPrice.toFixed(2)}}元</span><span
                            *ngIf="daRen.priceType == 3">共{{daRen.perPriceOfSupport}}元</span>
                        </p>
                    </div>
                    <p class="totalPrice"><span>&#x3000;总费用</span><span>{{daRen.totalPrice}}元</span></p>
                    <p class="totalPrice"><span>申请理由</span><span *ngIf="daRen.approveInfoDTO.applyReason!=null"
                                                                 [class.applyReason]="daRen.approveInfoDTO.applyReason.length>20">{{daRen.approveInfoDTO.applyReason}}</span><span
                        *ngIf="daRen.approveInfoDTO.applyReason==null">无</span>
                    </p>
                    <div class="completeTime"  *ngIf="daRen.approveInfoDTO.status == 12">
                        <p>
                          <span style="display: inline-block;height: 20px;line-height: 20px;">&#x3000;<b style=" background-color: dodgerblue;width: 10px;height: 20px;display: inline-block"></b>
                            &#x3000;<span style="display: inline-block;color: #2d8ac7;height: 20px;line-height: 10px;vertical-align: middle;">完成时间</span>
                            </span>
                        </p>
                        <p class="endDate">
                            <span>结束时间</span>
                            <span style="color: #2d8ac7" *ngIf="daRen.approveInfoDTO.completeDate">{{daRen.approveInfoDTO.completeDate | date:"yyyy/MM/dd"}}</span>
                        </p>
                        <p class="totalPrice"><span>实际费用</span><span>{{daRen.usedPrice}}元</span></p>
                    </div>
                </div>
            </div>

            <div class="list-block" style="margin-top: 16px;">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">抄送人</div>
                            </div>
                        </div>
                    </li>
                    <li class="carbonCopy-box choose-box">
                        <div *ngFor="let copyTo of selectedCopyToList" style="display: inline-block;">
                            <a href="javascript:;"
                               class="choosed"><span>{{copyTo.dingName.substring(0, 3)}}</span><br><label>{{copyTo.dingName.substring(0,3)}}</label></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block carboncopy-box" style="margin-bottom: 70px;" *ngIf="actionProcesses">
                <ul>
                    <li class="item-content" *ngFor="let action of actionProcesses">
                        <div class="item-inner">
                            <img src="../../../../../content/images/shop_icon.png" alt="">
                            <span class="applicant">{{action.actor}}</span>
                            <span>{{action.actionDesc}}</span>
                            <!--<span class="apply-time">{{action.actionTime.substring(5, 7)}}.{{action.actionTime.substring(8, 10)}} {{action.actionTime.substring(11, 16)}}</span>-->
                            <span class="apply-time">{{timestampToTime(action.actionTime)}}</span>
                            <p class="reply" *ngIf="action && action.remark!='null' && action.remark!=null"
                               style="font-size: 16px;color: #191f25;margin-left: 50px;margin-bottom: 0;">
                                {{action.remark}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
