<nb-card>
    <nb-card-header>
        敏感词
    </nb-card-header>
    <nb-card-body>
        <div id="content">
            <div class="row">
                <div class="search_box">
                    <input type="text" class="search_input" placeholder="请输入关键字查询" [(ngModel)]="searchItem">
                    <button class="search_btn" (click)="search()">查询</button>
                </div>
                <button class="btn {{ settingsBtn[0].class }} btn-demo" (click)="add()">{{
                    settingsBtn[0].buttonTitle}}
                </button>
            </div>
            <table cellspacing="0">
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>创建者</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                <tr *ngFor="let tabooed of tabooeds">
                    <td>{{tabooed.id}}</td>
                    <td>{{tabooed.name}}</td>
                    <td>{{tabooed.create_user}}</td>
                    <td>{{tabooed.created_time | date: "yyyy-MM-dd HH:mm"}}</td>
                    <td>
                        <button title="编辑"><i class="ion-edit" (click)="edit(tabooed.id)"></i></button>
                        <button title="删除"><i class="ion-trash-a" (click)="delete(tabooed.id)"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="tabooeds">
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="10000" [(page)]="page" [maxSize]="5" [rotate]="true"
                                [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
                <!--<ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="5" [rotate]="true"-->
                                <!--[boundaryLinks]="true" (pageChange)="loadPage(page)">-->
                <!--</ngb-pagination>-->
                <!--<label class="totalElements">共{{totalElements}}条记录</label>-->
                <!--<select class=" search_select_pageSize "[(ngModel)]="itemsPerPage" (ngModelChange)="pageSizechange()">-->
                    <!--<option value='10'>10条/页</option>-->
                    <!--<option value='15'>15条/页</option>-->
                    <!--<option value='20'>20条/页</option>-->
                    <!--<option value='30'>30条/页</option>-->
                    <!--<option value='50'>50条/页</option>-->
                <!--</select>-->
            </div>
        </div>
    </nb-card-body>
</nb-card>
