<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel">
            创建或编辑敏感词</h4>
        <button type="button" class="close hand" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="form-control-label">敏感词</label>
            <input type="text" class="form-control" name="name" #nameInput="ngModel"
                   [(ngModel)]="tabooed.name">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary hand" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>取消</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary hand">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>保存</span>
        </button>
    </div>
</form>
