<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel">选择导出时间</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label>开始时间</label>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="startTime"
                   name="dp" [(ngModel)]="startTime" ngbDatepicker #s="ngbDatepicker" (click)="s.toggle()">
        </div>
        <div class="form-group">
            <label>结束时间</label>
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" id="endTime"
                   name="dp" [(ngModel)]="endTime" ngbDatepicker #e="ngbDatepicker" (click)="e.toggle()">
        </div>
        <div class="form-group">
            <label>选择店铺</label>
            <select class="form-control" [(ngModel)]="storeName" name="storeName" id="storeName">
                <option value="爱宝乐母婴旗舰店" *jhiHasAnyAuthority="['ROLE_APPRAISE_IBAOLE','ROLE_ADMIN']">爱宝乐母婴旗舰店</option>
                <option value="博贝母婴专营店" *jhiHasAnyAuthority="['ROLE_APPRAISE_BERBUY','ROLE_ADMIN']">博贝母婴专营店</option>
                <option value="达奇母婴专营店" *jhiHasAnyAuthority="['ROLE_APPRAISE_DAQI','ROLE_ADMIN']">达奇母婴专营店</option>
                <option value="优宝母婴专营店" *jhiHasAnyAuthority="['ROLE_APPRAISE_YOUBAO','ROLE_ADMIN']">优宝母婴专营店</option>
                <option value="小哈伦旗舰店" *jhiHasAnyAuthority="['ROLE_APPRAISE_XIAOHALUN','ROLE_ADMIN']">小哈伦旗舰店</option>
                <option value="好孩子博贝专卖店" *jhiHasAnyAuthority="['ROLE_APPRAISE_HAOHAIZI','ROLE_ADMIN']">好孩子博贝专卖店</option>
                <option value="小白熊诺贝专卖店" *jhiHasAnyAuthority="['ROLE_APPRAISE_XIAOBAIXION','ROLE_ADMIN']">小白熊诺贝专卖店</option>
                <!--<option>请选择</option>-->
                <!--<option *ngFor="let shop of shops" value="{{shop.shopName}}">-->
                    <!--{{shop.shopName}}-->
                <!--</option>-->
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>取消</span>
        </button>
        <button type="submit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>&nbsp;<span>确定</span>
        </button>
    </div>
</form>
