<div class="modal-header">
    <h4 class="modal-title" id="myUserLabel">库存调拨申请详情</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;
    </button>
</div>
<div class="modal-body">
    <div class="page" id="stock_detail" *ngIf="stock">
        <div class="content">
            <div class="card" style="margin: 0;border-bottom: none;">
                <div class="card-header">
                    <span class="avatar">{{stock.approveInfoDTO.applicant}}</span>
                    <p class="important">
                        <span class="applicant">{{stock.approveInfoDTO.applicant}}</span>&#x3000;
                    </p>
                    <p class="status status0" *ngIf="stock.approveInfoDTO.status == 1">等待<span
                        class="approvePersonnel">{{selectedApproveList}}</span>的审批</p>
                    <p class="status status1" *ngIf="stock.approveInfoDTO.status == 2">通过<span
                        class="approvePersonnel">{{selectedApproveList}}</span>的审批</p>
                    <p class="status status2" *ngIf="stock.approveInfoDTO.status == 3"><span
                        class="approvePersonnel">{{selectedApproveList}}</span>拒绝审批</p>
                    <p class="status status2" *ngIf="stock.approveInfoDTO.status == 12">
                        <span class="approvePersonnel" style="color: #2d8ac7">已完结</span>
                    </p>
                </div>
                <img src="../../../../../content/images/business_end.png" alt="" class="statusImg"
                     *ngIf="stock.approveInfoDTO.status == 12">
                <img src="../../../../../content/images/SUCCESS.png" alt="" class="statusImg"
                     *ngIf="stock.approveInfoDTO.status == 2">
                <img src="../../../../../content/images/FAIL.png" alt="" class="statusImg"
                     *ngIf="stock.approveInfoDTO.status == 3">
                <img src="../../../../../content/images/UNDO.png" alt="" class="statusImg"
                     *ngIf="stock.approveInfoDTO.status == 6 || stock.approveInfoDTO.status == 9 || stock.approveInfoDTO.status == 11">
                <div class="card-content">
                    <!--<p class="shop"><span>&#x3000;&#x3000;店铺</span><span>{{stock.approveInfoDTO.shopName}}</span></p>-->
                    <p class="brand"><span>&#x3000;&#x3000;品牌</span><span>{{stock.approveInfoDTO.brandName}}</span></p>
                    <p class="good"><span>&#x3000;&#x3000;商品</span><span
                        [class.goodName]="stock.approveInfoDTO.goodName.length>20">{{stock.approveInfoDTO.goodName}}</span>
                    </p>
                    <p class="totalPrice"><span>申请理由</span><span *ngIf="stock.approveInfoDTO.applyReason!=null"
                                                                 [class.applyReason]="stock.approveInfoDTO.applyReason.length>20">{{stock.approveInfoDTO.applyReason}}</span><span
                        *ngIf="stock.approveInfoDTO.applyReason==null">无</span>
                    </p>
                    <p class="applyType">
                       <span>申请类型</span>
                        <span *ngIf="stock.applyType == 1">仓库调拨</span>
                        <span *ngIf="stock.applyType == 2">拆包</span>
                        <span *ngIf="stock.applyType == 3">赠品调拨</span>
                    </p>
                    <p class="startDate"><span>申请时间</span><span>{{stock.approveInfoDTO.createdDate | date: "yyyy-MM-dd HH:mm:ss"}}</span></p>
                </div>
            </div>
            <div class="list-block" style="margin-top: 16px;">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-media"><i class="icon icon-form-email"></i></div>
                            <div class="item-inner">
                                <div class="item-title label">抄送人</div>
                            </div>
                        </div>
                    </li>
                    <li class="carbonCopy-box choose-box">
                        <div *ngFor="let copyTo of selectedCopyToList" style="display: inline-block;">
                            <a href="javascript:;"
                               class="choosed"><span>{{copyTo.dingName}}</span><br><label>{{copyTo.dingName}}</label></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-block carboncopy-box" style="margin-bottom: 70px;" *ngIf="actionProcesses">
                <ul>
                    <li class="item-content" *ngFor="let action of actionProcesses">
                        <div class="item-inner">
                            <img src="../../../../../content/images/shop_icon.png" alt="">
                            <span class="applicant">{{action.actor}}</span>
                            <span>{{action.actionDesc}}</span>
                            <!--<span class="apply-time">{{action.actionTime.substring(5, 7)}}.{{action.actionTime.substring(8, 10)}} {{action.actionTime.substring(11, 16)}}</span>-->
                            <span class="apply-time">{{timestampToTime(action.actionTime)}}</span>
                            <p class="reply" *ngIf="action && action.remark!='null' && action.remark!=null"
                               style="font-size: 16px;color: #191f25;margin-left: 50px;margin-bottom: 0;">
                                {{action.remark}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
