<nb-card>
    <nb-card-header>
        短信
    </nb-card-header>
    <nb-card-body>
        <div id="content">
            <div class="row">
                <div class="search_box">
                    <label>店铺:</label>
                    <input type="text" class="search_input_duan" placeholder="店铺搜索" [(ngModel)]="searchItem_shopName">
                    <label>店铺品牌:</label>
                    <input type="text" class="search_input_duan" placeholder="品牌搜索" [(ngModel)]="searchItem_brandName">
                    <label>商品:</label>
                    <input type="text" class="search_input_duan" placeholder="商品搜索" [(ngModel)]="searchItem_goodName">
                    <label>申请人:</label>
                    <input type="text" class="search_input_duan" placeholder="申请人搜索" [(ngModel)]="searchItem_applicant">
                </div> </div>
            <div class="row">
                <div class="search_box">
                    <label>类型:</label>
                    <select class=" search_select " style="width: 125px;background: #fff;margin-right: 40px!important;" [(ngModel)]="searchItem_priceType">
                        <option value='0'>全部</option>
                        <option value='1'>商品短信</option>
                        <option value='2'>活动短信</option>
                    </select>
                    <label>推送事由:</label>
                    <select class=" search_select " style="width: 125px;background: #fff;margin-right: 40px!important;" [(ngModel)]="searchItem_pushCause">
                        <option value='0'>全部</option>
                        <option value='1'>单品活动</option>
                        <option value='2'>好评活动</option>
                        <option value='3'>催收活动</option>
                        <option value='4'>店铺活动</option>
                        <option value='5'>其他</option>
                    </select>
                    <label  style='width:80px'>起止时间:</label>
                    <input type="date" class="search_select" style="margin-right:45px;" [(ngModel)]="searchItem_startTime">
                    <label  style="margin:0 10px">至:</label>
                    <input type="date" class="search_select" [(ngModel)]="searchItem_endTime" style="margin-right: 40px;!important;">
                    <button class="search_btn" (click)="search()" sty>查询</button>
                    <button class="search_btn" (click)="reset()">重置</button>
                    <div class="export-data"  style="position: absolute;right: 20px;top:70px;">
                        <button class="btn btn-hero-primary "  (click)="viewData()">查看数据</button>
                        <!--<button class="btn btn-hero-primary "  (click)="export()">导出csv数据</button>-->
                        <button class="btn btn-hero-primary" (click)="add()">添加新数据</button>
                    </div>
                </div>
            </div>
            <table cellspacing="0" class="modified">
                <tr>
                    <th>id</th>
                    <th>类型</th>
                    <th>店铺</th>
                    <th>品牌</th>
                    <th>商品</th>
                    <th>推送数量</th>
                    <th>推送事由</th>
                    <th>推送内容</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>申请人</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr *ngFor="let message of messages;">
                    <td>{{message.id}}</td>
                    <td>
                        <span *ngIf="message.smsType   == 1">商品短信</span>
                        <span *ngIf="message.smsType   == 2">活动短信</span>
                    </td>
                    <td>{{message.shopName}}</td>
                    <td>{{message.brandName}}</td>
                    <td class="goodName text-left">
                        <span>{{message.goodName}}</span>
                    </td>
                    <td>
                        {{message.pushNumber}}
                    </td>
                    <td>
                        <span *ngIf="message.pushCause  == 1">单品活动</span>
                        <span *ngIf="message.pushCause  == 2">好评活动</span>
                        <span *ngIf="message.pushCause  == 3">催收活动</span>
                        <span *ngIf="message.pushCause  == 4">店铺活动</span>
                        <span *ngIf="message.pushCause  ==5">其他</span>
                    </td>
                    <td class="goodName text-left">
                        <span>{{message.smsContent}}</span>
                    </td>
                    <td>{{message.startDate}}</td>
                    <td>{{message.endDate}}</td>
                    <td><span *ngIf="message.approveInfoDTO">{{message.approveInfoDTO.applicant}}</span></td>
                    <td>
                        <span *ngIf="message.approveInfoDTO && message.approveInfoDTO.status == 1">待审批</span>
                        <span *ngIf="message.approveInfoDTO && message.approveInfoDTO.status == 2">已通过</span>
                        <span *ngIf="message.approveInfoDTO && message.approveInfoDTO.status == 3">已拒绝</span>
                        <span *ngIf="message.approveInfoDTO && message.approveInfoDTO.status == 12">已完结</span>
                        <span *ngIf="message.approveInfoDTO && (message.approveInfoDTO.status == 6 || message.approveInfoDTO.status == 9 || message.approveInfoDTO.status == 11)">已撤销</span>
                    </td>
                    <td>
                        <button><i class="ion-edit" (click)="edit(message.id)"></i></button>
                        <button><i class="ion-trash-a" (click)="delete(message.id)"></i></button>
                        <button><i class="ion-clipboard" (click)="check(message.id)"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center" *ngIf="messages">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="5" [rotate]="true"
                            [boundaryLinks]="true" (pageChange)="loadPage(page)">
            </ngb-pagination>
            <label class="totalElements">共{{totalElements}}条记录</label>
            <select class=" search_select_pageSize "[(ngModel)]="itemsPerPage" (ngModelChange)="pageSizechange()">
                <option value='10'>10条/页</option>
                <option value='15'>15条/页</option>
                <option value='20'>20条/页</option>
                <option value='30'>30条/页</option>
                <option value='50'>50条/页</option>
            </select>
        </div>
    </nb-card-body>
</nb-card>
