<nb-card>
    <nb-card-header>
        赠品申请
    </nb-card-header>

    <nb-card-body>
        <!--<ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"-->
        <!--(editConfirm)="onSaveConfirm($event)" (createConfirm)="onCreateConfirm($event)">-->
        <!--</ng2-smart-table>-->
        <div id="content">
            <div class="row">
                <div class="search_box">
                    <label>店铺:</label>
                    <input type="text" class="search_input_duan" placeholder="店铺搜索" [(ngModel)]="searchItem_shopName">
                    <label>店铺品牌:</label>
                    <input type="text" class="search_input_duan" placeholder="品牌搜索" [(ngModel)]="searchItem_brandName">
                    <label>商品:</label>
                    <input type="text" class="search_input_duan" placeholder="商品搜索" [(ngModel)]="searchItem_goodName">
                    <label>申请人:</label>
                    <input type="text" class="search_input_duan" placeholder="申请人搜索" [(ngModel)]="searchItem_applicant">
                </div> </div>
            <div class="row">
                <div class="search_box">
                    <label>申请理由:</label>
                    <input type="text" class="search_input_duan" placeholder="申请理由搜索" [(ngModel)]="searchItem_applicantReason">
                    <label  style='width:80px'>起止时间:</label>
                    <input type="date" class="search_select" style="margin-right:45px;" [(ngModel)]="searchItem_startTime">
                    <label  style="margin:0 10px">至:</label>
                    <input type="date" class="search_select" [(ngModel)]="searchItem_endTime" style="margin-right: 40px;!important;">
                    <button class="search_btn" (click)="search()">查询</button>
                    <button class="search_btn" (click)="reset()">重置</button>
                    <div class="export-data"  style="position: absolute;right: 20px;top:70px;">
                        <button class="btn btn-hero-primary "  (click)="viewData()">查看数据</button>
                        <button class="btn btn-hero-primary "  (click)="export()">导出csv数据</button>
                        <button class="btn btn-hero-primary" (click)="add()">添加新数据</button>
                    </div>
                </div>
            </div>
            <table cellspacing="0" class="modified">
                <tr>
                    <th>id</th>
                    <th>店铺</th>
                    <th>品牌</th>
                    <th>商品</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>申请原因</th>
                    <th>申请人</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr *ngFor="let gift of gifts">
                    <td>{{gift.id}}</td>
                    <td>{{gift.approveInfoDTO.shopName}}</td>
                    <td>{{gift.approveInfoDTO.brandName}}</td>
                    <td class="goodName text-left">
                        <span>{{gift.approveInfoDTO.goodName}}</span>
                    </td>
                    <td *ngIf="gift.approveInfoDTO">{{gift.startDate}}</td>
                    <td *ngIf="gift.approveInfoDTO">{{gift.endDate}}</td>
                    <td *ngIf="gift.approveInfoDTO">{{gift.approveInfoDTO.applyReason}}</td>
                    <td *ngIf="gift.approveInfoDTO">{{gift.approveInfoDTO.applicant}}</td>
                    <td>
                        <span *ngIf="gift.approveInfoDTO && gift.approveInfoDTO.status == 1">待审批</span>
                        <span *ngIf="gift.approveInfoDTO && gift.approveInfoDTO.status == 2">已通过</span>
                        <span *ngIf="gift.approveInfoDTO && gift.approveInfoDTO.status == 3">已拒绝</span>
                        <span *ngIf="gift.approveInfoDTO && gift.approveInfoDTO.status == 12">已完结</span>
                        <span *ngIf="gift.approveInfoDTO && (gift.approveInfoDTO.status == 6 || gift.approveInfoDTO.status == 9 || gift.approveInfoDTO.status == 11)">已撤销</span>
                    </td>
                    <td>
                        <button><i class="ion-edit" (click)="edit(gift.id)"></i></button>
                        <button><i class="ion-trash-a" (click)="delete(gift.id)"></i></button>
                        <button><i class="ion-clipboard" (click)="check(gift.id)"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center" *ngIf="gifts">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [maxSize]="5" [rotate]="true"
                            [boundaryLinks]="true" (pageChange)="loadPage(page)">
            </ngb-pagination>
            <label class="totalElements">共{{totalElements}}条记录</label>
            <select class=" search_select_pageSize "[(ngModel)]="itemsPerPage" (ngModelChange)="pageSizechange()">
                <option value='10'>10条/页</option>
                <option value='15'>15条/页</option>
                <option value='20'>20条/页</option>
                <option value='30'>30条/页</option>
                <option value='50'>50条/页</option>
            </select>
        </div>
    </nb-card-body>
</nb-card>
